


@function vr($lines: 1){
  $line-height: $base-line-height * $lines;
  @return $line-height;
}

@mixin gl($lines: 1){
  margin-top:    $base-line-height * 2;
  margin-bottom: $base-line-height * 1;
  line-height:   $base-line-height * $lines;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  $opacityIE: $opacity * 100;
  filter: alpha(opacity=$opacityIE);
}
