
$color_font: #333;
$color_main: #6283B2;
$color_second1: #1C2533;
$color_second2: #97A2B2;
$color_third1: #2B2E33;
$color_third2: #53657F;
$color_complementary: #b28f47;
$color_second_complementary1: #bfac85;
$color_second_complementary2: #ffe6b2;
$color_third_complementary1: #ffcc65;
$color_third_complementary2: #7f6633;
$color_background: #fff;

$base-line-height: 2rem;
$modular-scale-base: 0.5em;
$modular-scale-ratio: $golden;
$ms-base: 1em;
$ms-ratio: $golden;
