
$color_main: #6190f2;
$color_second1: #abc3f4;
$color_second2: #505c73;
$color_third1: #2e4473;
$color_third2: #4c72bf;
$color_complementary: #b28f47;
$color_second_complementary1: #bfac85;
$color_second_complementary2: #ffe6b2;
$color_third_complementary1: #ffcc65;
$color_third_complementary2: #7f6633;

