@font-face {
	font-family: 'sanaisk';
	src:url('fonts/sanaisk.eot?-wzjv4');
	src:url('fonts/sanaisk.eot?#iefix-wzjv4') format('embedded-opentype'),
		url('fonts/sanaisk.woff?-wzjv4') format('woff'),
		url('fonts/sanaisk.ttf?-wzjv4') format('truetype'),
		url('fonts/sanaisk.svg?-wzjv4#sanaisk') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'sanaisk';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
	content: "\e600";
}

.icon-logomark .path1:before {
	content: "\e601";
	color: rgb(0, 0, 0);
}
.icon-logomark .path2:before {
	content: "\e602";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path3:before {
	content: "\e603";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path4:before {
	content: "\e604";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path5:before {
	content: "\e605";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path6:before {
	content: "\e606";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path7:before {
	content: "\e607";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path8:before {
	content: "\e608";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path9:before {
	content: "\e609";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path10:before {
	content: "\e60a";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path11:before {
	content: "\e60b";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path12:before {
	content: "\e60c";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path13:before {
	content: "\e60d";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path14:before {
	content: "\e60e";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path15:before {
	content: "\e60f";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path16:before {
	content: "\e610";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path17:before {
	content: "\e611";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path18:before {
	content: "\e612";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path19:before {
	content: "\e613";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path20:before {
	content: "\e614";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path21:before {
	content: "\e615";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path22:before {
	content: "\e616";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path23:before {
	content: "\e617";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path24:before {
	content: "\e618";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path25:before {
	content: "\e619";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path26:before {
	content: "\e61a";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path27:before {
	content: "\e61b";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path28:before {
	content: "\e61c";
	margin-left: -4.302734375em;
	color: rgb(0, 0, 0);
}
.icon-logomark .path29:before {
	content: "\e61d";
	margin-left: -4.302734375em;
	color: rgb(98, 131, 181);
}
.icon-logomark .path30:before {
	content: "\e61e";
	margin-left: -4.302734375em;
	color: rgb(98, 131, 181);
}

.icon-mark:before {
	content: "\e61f";
}

.icon-search:before {
	content: "\e036";
}

.icon-arrow-down:before {
	content: "\e097";
}

.icon-twitter-square:before {
	content: "\f081";
}

.icon-facebook-square:before {
	content: "\f082";
}

.icon-linkedin-square:before {
	content: "\f08c";
}

.icon-angle-down:before {
	content: "\f107";
}

