meta(charset='utf-8')
meta(content='IE=Edge', http-equiv='X-UA-Compatible')
meta(content='マグネットチャック,クロステーブル,電極ホルダー,電極プリセッター,エコスタンド,直角測定器,逃げ角ドレッサー,超硬屑セパレータ,magnet,cross table,folder', name='keywords')
meta(content='超精密金型加工部品ならお任せください。放電加工機、研削機にはマグネットチャック。放電加工機には電極ホルダー。超硬屑には超硬屑セパレータ。高精度のクロステーブル。', name='description')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='google-site-verification', content='pxmEmu0s-t4aeAN65SQKZAMPl2KKBSeunJu7o6b5EO0')
meta(property='og:title', content='日経マーケティングポータル | 日本経済新聞社のメディアマーケティング、ソリューションサービス')
meta(property='og:type', content='website')
meta(property='og:image', content='https://www.sunai.sk/images/manifests/ogimage.png')
meta(property='twitter:image', content='https://www.sunai.sk/images/manifests/ogimage.png')
meta(data-n-head='ssr', data-hid='theme-color', name='theme-color', content='#526d96')
link(data-n-head='ssr', rel='icon', type='image/png', sizes='192x192', href='/images/manifests/android-chrome-192x192.png')
link(data-n-head='ssr', rel='icon', type='image/png', sizes='512x512', href='/images/manifests/android-chrome-512x512.png')
link(data-n-head='ssr', rel='icon', type='image/png', sizes='16x16', href='/images/manifests/favicon-16x16.png')
link(data-n-head='ssr', rel='icon', type='image/png', sizes='32x32', href='/images/manifests/favicon-32x32.png')
link(data-n-head='ssr', rel='apple-touch-icon', type='image/png', sizes='180x180', href='/images/manifests/apple-touch-icon.png')
link(rel='stylesheet', href='/styles/main.css')
