meta(charset='utf-8')
meta(content='マグネットチャック,クロステーブル,電極ホルダー,電極プリセッター,エコスタンド,直角測定器,逃げ角ドレッサー,超硬屑セパレータ,magnet,cross table,folder', name='keywords')
meta(content='超精密金型加工部品ならお任せください。放電加工機、研削機にはマグネットチャック。放電加工機には電極ホルダー。超硬屑には超硬屑セパレータ。高精度のクロステーブル。', name='description')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Place favicon.ico and apple-touch-icon.png in the root directory
// build:css styles/vendor.css
// bower:css
// endbower
// endbuild
// build:css({.tmp,app}) styles/main.css
link(rel='stylesheet', href='styles/main.css')
// endbuild
