@font-face {
  font-family: 'sanaisk';
  src:  url('fonts/sanaisk.eot?73c9f6');
  src:  url('fonts/sanaisk.eot?73c9f6#iefix') format('embedded-opentype'),
    url('fonts/sanaisk.ttf?73c9f6') format('truetype'),
    url('fonts/sanaisk.woff?73c9f6') format('woff'),
    url('fonts/sanaisk.svg?73c9f6#sanaisk') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sanaisk' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mouse:before {
  content: "\e930";
}
.icon-crosstable .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-crosstable .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path5:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path6:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path7:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path8:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path9:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path10:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path11:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path12:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path13:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path14:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-crosstable .path15:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path16:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path17:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path18:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path19:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path20:before {
  content: "\e913";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path21:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path22:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path23:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path24:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path25:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path26:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path27:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path28:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path29:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path30:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path31:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path32:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path33:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path34:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path35:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path36:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path37:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path38:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path39:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path40:before {
  content: "\e927";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path41:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path42:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path43:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path44:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path45:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path46:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path47:before {
  content: "\e92e";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-crosstable .path48:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logo:before {
  content: "\e600";
}
.icon-logomark .path1:before {
  content: "\e601";
  color: rgb(0, 0, 0);
}
.icon-logomark .path2:before {
  content: "\e602";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path3:before {
  content: "\e603";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path4:before {
  content: "\e604";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path5:before {
  content: "\e605";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path6:before {
  content: "\e606";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path7:before {
  content: "\e607";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path8:before {
  content: "\e608";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path9:before {
  content: "\e609";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path10:before {
  content: "\e60a";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path11:before {
  content: "\e60b";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path12:before {
  content: "\e60c";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path13:before {
  content: "\e60d";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path14:before {
  content: "\e60e";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path15:before {
  content: "\e60f";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path16:before {
  content: "\e610";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path17:before {
  content: "\e611";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path18:before {
  content: "\e612";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path19:before {
  content: "\e613";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path20:before {
  content: "\e614";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path21:before {
  content: "\e615";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path22:before {
  content: "\e616";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path23:before {
  content: "\e617";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path24:before {
  content: "\e618";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path25:before {
  content: "\e619";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path26:before {
  content: "\e61a";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path27:before {
  content: "\e61b";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path28:before {
  content: "\e61c";
  margin-left: -4.302734375em;
  color: rgb(0, 0, 0);
}
.icon-logomark .path29:before {
  content: "\e61d";
  margin-left: -4.302734375em;
  color: rgb(98, 131, 181);
}
.icon-logomark .path30:before {
  content: "\e61e";
  margin-left: -4.302734375em;
  color: rgb(98, 131, 181);
}
.icon-mark:before {
  content: "\e61f";
}
.icon-twitter-square:before {
  content: "\f081";
}
.icon-facebook-square:before {
  content: "\f082";
}
.icon-linkedin-square:before {
  content: "\f08c";
}
.icon-angle-down:before {
  content: "\f107";
}
.icon-search:before {
  content: "\e036";
}
.icon-arrow-down:before {
  content: "\e097";
}

