$icon-logo: "\e600";
$icon-logomark-path1: "\e601";
$icon-logomark-path2: "\e602";
$icon-logomark-path3: "\e603";
$icon-logomark-path4: "\e604";
$icon-logomark-path5: "\e605";
$icon-logomark-path6: "\e606";
$icon-logomark-path7: "\e607";
$icon-logomark-path8: "\e608";
$icon-logomark-path9: "\e609";
$icon-logomark-path10: "\e60a";
$icon-logomark-path11: "\e60b";
$icon-logomark-path12: "\e60c";
$icon-logomark-path13: "\e60d";
$icon-logomark-path14: "\e60e";
$icon-logomark-path15: "\e60f";
$icon-logomark-path16: "\e610";
$icon-logomark-path17: "\e611";
$icon-logomark-path18: "\e612";
$icon-logomark-path19: "\e613";
$icon-logomark-path20: "\e614";
$icon-logomark-path21: "\e615";
$icon-logomark-path22: "\e616";
$icon-logomark-path23: "\e617";
$icon-logomark-path24: "\e618";
$icon-logomark-path25: "\e619";
$icon-logomark-path26: "\e61a";
$icon-logomark-path27: "\e61b";
$icon-logomark-path28: "\e61c";
$icon-logomark-path29: "\e61d";
$icon-logomark-path30: "\e61e";
$icon-mark: "\e61f";
$icon-search: "\e036";
$icon-arrow-down: "\e097";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-angle-down: "\f107";
