$icomoon-font-path: "fonts" !default;

$icon-newlogo_icon: "\e939";
$icon-newlogo-path1: "\e931";
$icon-newlogo-path2: "\e932";
$icon-newlogo-path3: "\e933";
$icon-newlogo-path4: "\e934";
$icon-newlogo-path5: "\e935";
$icon-newlogo-path6: "\e936";
$icon-newlogo-path7: "\e937";
$icon-newlogo-path8: "\e938";
$icon-mouse: "\e930";
$icon-crosstable-path1: "\e900";
$icon-crosstable-path2: "\e901";
$icon-crosstable-path3: "\e902";
$icon-crosstable-path4: "\e903";
$icon-crosstable-path5: "\e904";
$icon-crosstable-path6: "\e905";
$icon-crosstable-path7: "\e906";
$icon-crosstable-path8: "\e907";
$icon-crosstable-path9: "\e908";
$icon-crosstable-path10: "\e909";
$icon-crosstable-path11: "\e90a";
$icon-crosstable-path12: "\e90b";
$icon-crosstable-path13: "\e90c";
$icon-crosstable-path14: "\e90d";
$icon-crosstable-path15: "\e90e";
$icon-crosstable-path16: "\e90f";
$icon-crosstable-path17: "\e910";
$icon-crosstable-path18: "\e911";
$icon-crosstable-path19: "\e912";
$icon-crosstable-path20: "\e913";
$icon-crosstable-path21: "\e914";
$icon-crosstable-path22: "\e915";
$icon-crosstable-path23: "\e916";
$icon-crosstable-path24: "\e917";
$icon-crosstable-path25: "\e918";
$icon-crosstable-path26: "\e919";
$icon-crosstable-path27: "\e91a";
$icon-crosstable-path28: "\e91b";
$icon-crosstable-path29: "\e91c";
$icon-crosstable-path30: "\e91d";
$icon-crosstable-path31: "\e91e";
$icon-crosstable-path32: "\e91f";
$icon-crosstable-path33: "\e920";
$icon-crosstable-path34: "\e921";
$icon-crosstable-path35: "\e922";
$icon-crosstable-path36: "\e923";
$icon-crosstable-path37: "\e924";
$icon-crosstable-path38: "\e925";
$icon-crosstable-path39: "\e926";
$icon-crosstable-path40: "\e927";
$icon-crosstable-path41: "\e928";
$icon-crosstable-path42: "\e929";
$icon-crosstable-path43: "\e92a";
$icon-crosstable-path44: "\e92b";
$icon-crosstable-path45: "\e92c";
$icon-crosstable-path46: "\e92d";
$icon-crosstable-path47: "\e92e";
$icon-crosstable-path48: "\e92f";
$icon-logo: "\e600";
$icon-logomark-path1: "\e601";
$icon-logomark-path2: "\e602";
$icon-logomark-path3: "\e603";
$icon-logomark-path4: "\e604";
$icon-logomark-path5: "\e605";
$icon-logomark-path6: "\e606";
$icon-logomark-path7: "\e607";
$icon-logomark-path8: "\e608";
$icon-logomark-path9: "\e609";
$icon-logomark-path10: "\e60a";
$icon-logomark-path11: "\e60b";
$icon-logomark-path12: "\e60c";
$icon-logomark-path13: "\e60d";
$icon-logomark-path14: "\e60e";
$icon-logomark-path15: "\e60f";
$icon-logomark-path16: "\e610";
$icon-logomark-path17: "\e611";
$icon-logomark-path18: "\e612";
$icon-logomark-path19: "\e613";
$icon-logomark-path20: "\e614";
$icon-logomark-path21: "\e615";
$icon-logomark-path22: "\e616";
$icon-logomark-path23: "\e617";
$icon-logomark-path24: "\e618";
$icon-logomark-path25: "\e619";
$icon-logomark-path26: "\e61a";
$icon-logomark-path27: "\e61b";
$icon-logomark-path28: "\e61c";
$icon-logomark-path29: "\e61d";
$icon-logomark-path30: "\e61e";
$icon-mark: "\e61f";
$icon-twitter-square: "\f081";
$icon-facebook-square: "\f082";
$icon-linkedin-square: "\f08c";
$icon-angle-down: "\f107";
$icon-search: "\e036";
$icon-arrow-down: "\e097";

