extend _template/_sanaisk

block header_block

block section_block
  .title.text-center.top_contents
    h1.title ユニバーサル電極ホルダーの機構と効果的な使い方
  
  div#thesis.container
    .row
      .col-sm-9
        p 電極ホルダーは、いまや金型製作部門の現場には欠かせない放電加工機の必需ツールとして定着しています。
        p 放電加工（EDM）は、形彫り放電加工とワイヤカット放電加工に分けられますが、ここで取り上げる「電極ホルダー」と「電極プリセッタ」は、形彫り放電加工に使われるツールで、主に中小物電極用です。
        p 放電加工は、導電性のある材料であればその硬さにかかわらず複雑な形状を高精度に加工でき、しかも加工形状に制約を受ける度合いが少ないという優れた加工特性を持っています。
        p そして、刃物の代わりになる電極は、銅あるいはグラァイトを用い、加工形状に合わせて製作されます。
        p ここで、電極を放電加工機にセットするために、電極を保持する媒介的なツールが必要となり、この役目を果たすものが電極ホルダーです。
      .col-sm-3
        figure
          img(src="/images/thesis1topimg.gif", alt="", class="img-responsive")
    
    h2.title 電極ホルダーの種類と機能
    
    .row
      .col-sm-9
        p 電極ホルダーにはさまざまな方式がありますが、大まかには固定式とユニバーサル（調整式）の２つに分けることができます。
        h3 1. 固定式電極ホルダー
        p 図１に固定式フォルダの一例を示します。この固定式フォルダには位置決めの調整機能がないので、電極を製作後に放電加工機にセットして、そこで心出し作業を行なうという一般的なパターンは成り立ちません。
        p しかし、電極加工機側と放電加工機側に同型式のチャックを装備し、そのどちらにも取り付けられる固定式フォルダを用いた高精度チャッキングシステムがあれば、加工したフォルダ付き電極をそのまま放電加工機にセットして、ただちに加工に入れます（図２）。
        p つまり、機上での心出し作業は不要になり、段取り時間の短縮がはかれます。これに対応して、繰り返しチャッキング精度２μmを保証している高精度なシステムもあります。
        p また、固定式電極ホルダーは、調整機能が付いていない分だけコンパクトで価格も安いという利点があります。
        p 高精度チャッキングシステムを導入しなければならないので、多少コストに難があることを除けば、大・中規模の生産体制で繰り返し生産される製品の電極保持システムとして最適だと思われます。
        p ただし、放電加工機が活躍する金型分野の製作現場は、ほとんどが一品物といってもよい世界。しかも、大半が中小企業という実態の中で、電極の製作体制も、内製できるところ、外注依存、あるいは支給を受けてなど、さまざまでしょう。
        p こうした生産現場における放電加工機には、調整式電極ホルダーが必須ツールになってきます。

        h3 2. ユニバーサル電極ホルダー
        p この形式のフォルダにもさまざまなタイプがあるので、ここでは、次のごく一般的なタイプのものを取り上げて説明します（図３、図４参照）。

        h4 2.1 L形ブロックで電極を保持するタイプ
        p 電極のシャンク部断面形状が角形、丸形を問わず保持でき、垂直方向の倒れ、回転方向の調整ができる（図３）。
        h4 2.2 コレットチャックで電極を保持するタイプ
        p 電極のシャンク部断面形状が丸形のものに用いられ、L形と同様に、垂直方向の倒れと回転方向の調整ができる。
        p さらに、X方向・Y方向の調心が可能で、回転振れの心出しも可能（図４）。
        p ユニバーサルフォルダは、いろいろな機能が付属しているので便利に使えるものですが、この便利さがマイナス面にもなっています。それは「調整」というロスタイムが必ず発生することです。
        p これをやむを得ないことと諦めるか否かで、放電加工の生産性が違ってくると思いますが、これについては次項で触れることにします。
      .col-sm-3
        figure
          img(src="/images/thesis2img_01.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_02.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_03.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_04.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_05.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_06.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_07.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_08.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_09.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_10.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_11.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_12.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_13.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_14.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_15.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_16.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_17.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_18.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_19.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_20.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_21.gif", alt="", class="img-responsive")
          img(src="/images/thesis2img_22.gif", alt="", class="img-responsive")
    
    h2.title 効果的な使い方
    
    .row
      .col-sm-9
        p 「ユニバーサルフォルダを効果的に使う」 とは、どのようなことなのかと考えてみると、まず、他のさまざまなツールと同様に「そのツールの特性を生かし、より付加価値を高めるように工夫して使う」 ことが考えられます。
        p では、付加価値を高めるとはどういうことなのでしょうか。
        p この場合は、そのツールを使うことによって放電加工の制度がより安定、あるいは向上し、しかも加工時間の短縮がはかれるということであり、フォルダに限っていえば、「より容易に、短時間で精度よく電極をセットできるようにする」 ことになると思います。
        p この課題へのアプローチの仕方としては、次の2通りが考えられます。
        p まずひとつは、ワンマシン・ワンツール的な方法です。ユニバーサル電極ホルダーの調整機能を生かして、特定の放電加工機の精度誤差を最小限になるように調整し、その状態を保ってその機械専用のツールとして使うものです（図５参照）。
        p ただし、この方法では電極のシャンク形状や直径などを標準化する必要があります。電極の製作工程から標準化したジャンクを使うようにし、できるだけ電極のセット作業を単純化して、先に述べた固定式電極ホルダーのチャッキングシステムによる使い形に近づける努力がなければ、効果は小さいといえます。もうひとつは、電極のセッティング（心出し作業）を外段取り化し、放電加工機の稼働率向上をはかる方法です。多台持ち加工がロスなく行なえて、電極のセッティング頻度が高いほど効果が大きいといわれている電極プリセッタを使います（写真1）。
        p この方法はとくに目新しいものではなく、MC などの工具のセッティングには欠かせないツールプリセッタを仕様するのと同様の方法として、すでに定着しています。
        p 強いて違いを言えば、刃具が電極に置き換わったことと、電極形状の自由度を考慮して、測定部がツールプリセッタと比べて意図的に簡略化されていることくらいでしょう。
      .col-sm-3
        figure
          img(src="/images/thesis3img_01.gif", alt="", class="img-responsive")
          img(src="/images/thesis3img_02.gif", alt="", class="img-responsive")
          img(src="/images/thesis3img_03.gif", alt="", class="img-responsive")
          img(src="/images/thesis3img_04.gif", alt="", class="img-responsive")
          img(src="/images/thesis3img_05.gif", alt="", class="img-responsive")
          img(src="/images/thesis3img_06.gif", alt="", class="img-responsive")
        
    
    h2.title 電極プリセッターについて
    
    .row
      .col-sm-9
        p ユニバーサル電極ホルダーを最も効果的に活用できるという点で、この電極プリセッタ（図６）と組み合わせて使用するのがベストといえます。
        p あえて難点をいえば、使い勝手の問題として、放電加工機に取り付けられた状態では、左右反対の環境で電極のセッティングをしなければならないことがあります。これには多少の慣れが必要でしょう。
        p また、ユニバーサル電極ホルダーの１０倍程度の導入コストが発生することもあります。
        p この電極プリセッタシステム導入の決め手は、チャッキングシステムの標準化と優れたチャッキングシステムの選定にあり、これらの点がうまく運べれば、導入の成功はまず確実なものになります。
        p なお、電極プリセッタは、種々のツールベースやチャック、フォルダなどについて組み合わせ選択ができます。表に標準本体仕様を示します。
        p.a-mv50
          a.btn.btn-primary(href='presetter.html', role='button') 電極プリセッターについて

        table.table.table_design
          thead
            tr
              th
                | 型番
              td
                | テーブルストローク
              td
                | 各軸のヨーイング、
                br
                | ピッチ精度
              td
                | テーブル面と
                br
                | Z軸の直角度
              td
                | テーブル面の動的平行度
                br
                | 150mm×150mにて
              td
                | 幅
              td
                | 奥
              td
                | 高さ
              td
                | 重量
          tbody
            tr
              th
                | SEP-02A
              td
                | X:150 Y:150
              td
                | ±0.001/150mm
              td
                | X方向:0.003mm
                br
                | Y方向:0.003mm
              td
                | 0.003mm
              td
                | 720
              td
                | 850
              td
                | 1350
              td
                | 270kg

      .col-sm-3
        figure
          img(src="/images/thesis4img_01.gif", alt="", class="img-responsive")
          img(src="/images/thesis4img_02.gif", alt="", class="img-responsive")
          img(src="/images/thesis4img_03.gif", alt="", class="img-responsive")
          img(src="/images/thesis4img_04.gif", alt="", class="img-responsive")
    p.a-mv50
      a.btn.btn-primary.btn-lg.btn-block(href='electrode_holder.html', role='button') 戻る
      
