extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1 電極ホルダー
    button.trigger(data-info='Click')
      span Click

block section_block
  .title.text-center.top_contents
    h2
      | 電極ホルダー
        
    p 放電加工粋を最大限の取ることができます。かつ世界トップ水準の精度の出しやすさです。ワンランク上の精度を目指すユーザーにご高評いただいております。
    ol
      li 独特な機構により調整が容易です。
      li EROWA、system 3R 両社のチャッキングツールに対応します。
      li コンパクトで極軽量化を図り放電加工機のリニア制御時代に対応しております。
      
  section#product.container
    .push
      .row
        .col-xs-4
          h2 V
          figure
            img(src="https://placehold.jp/150x150.png", alt="")
          p V字型のホルダーに電極を挟み込みます。形、大きさを問わず、色々な電極に対応可能です。
        .col-xs-4
          h2 U
          figure
            img(src="https://placehold.jp/150x150.png", alt="")
          p 薄い形をした電極に適しています。
        .col-xs-4
          h2 EYC
          figure
            img(src="https://placehold.jp/150x150.png", alt="")
          p ホルダーの中心で固定できます。中心値を取りたい場合に有効です。丸型の電極のみ適応可能です。
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="")
      .col-md-9
        h2 STM-05-V(U)-AL
        h5 コンパクトで超軽量です
        table.table.table_design
          tbody
            tr
              th 調整範囲
              th 本体重量
              th 電極最大負荷量
            tr
              td 
                | 垂直方向倒れ : ±2.5°
                br
                | 回転方向 : ±10.0°
              td 0.7kg
              td 5.0kg
        p ※ チャッキング栓及び、ドローバーはマニュアル型が標準付属になります。ATC対応型はオプションになります。
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="")
      .col-md-9
        h2 STM-05-V(U)
        h5 コンパクトです
        table.table.table_design
          tbody
            tr
              th 調整範囲
              th 本体重量
              th 電極最大負荷量
            tr
              td 
                | 垂直方向倒れ : ±2.5°
                br
                | 回転方向 : ±10.0°
              td 1.3kg
              td 5.0kg
        p ※ チャッキング栓及び、ドローバーはマニュアル型が標準付属になります。ATC対応型はオプションになります。
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="")
      .col-md-9
        h2 STM-10-V(U)
        h5 特に薄型です
        table.table.table_design
          tbody
            tr
              th 調整範囲
              th 本体重量
              th 電極最大負荷量
            tr
              td 
                | 垂直方向倒れ : ±2.5°
                br
                | 回転方向 : ±10.0°
              td 2.2kg
              td 15.0kg
        p ※ チャッキング栓及び、ドローバーはマニュアル型が標準付属になります。ATC対応型はオプションになります。
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="")
      .col-md-9
        h2 STM-05-EYC16,25
        h5 高度な調芯性です
        table.table.table_design
          tbody
            tr
              th 調整範囲
              th 
                | 調芯範囲
                br
                | X,Y 方向
              th 本体重量
              th 電極最大負荷量
            tr
              td 
                | 垂直方向倒れ : ±2.5°
                br
                | 回転方向 : ±10.0°
              td ±2.5ｍｍ
              td 1.9kg
              td 5.0kg
        p ※ チャッキング栓及び、ドローバーはマニュアル型が標準付属になります。ATC対応型はオプションになります。
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="")
      .col-md-9
        h2 STM-10-EYC16,25,32
        h5 高度な調芯性です
        table.table.table_design
          tbody
            tr
              th 調整範囲
              th 
                | 調芯範囲
                br
                | X,Y 方向
              th 本体重量
              th 電極最大負荷量
            tr
              td 
                | 垂直方向倒れ : ±2.5°
                br
                | 回転方向 : ±10.0°
              td ±2.5ｍｍ
              td 3.5kg
              td 10kg
        p ※ チャッキング栓及び、ドローバーはマニュアル型が標準付属になります。ATC対応型はオプションになります。
