extend _template/_sanaisk

block header_block

block section_block
  .title.text-center.top_contents
    h1 SAN AI 電極ホルダー STM シリーズ・システム図
  form(name='folderform', method='post')
    section#holder.container
      h2.title 電極ホルダーを選択
      .row
        .col-md-2.col-md-offset-1.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder1.gif", alt="STM-00", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="unit", value="00", onclick="radio('unit')")
                  span STM-00
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder2.gif", alt="STM-05", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="unit", value="05", onclick="radio('unit')")
                  span STM-05
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder3.gif", alt="STM-05", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="unit", value="05", onclick="radio('unit')")
                  span STM-05
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder4.gif", alt="STM-10", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="unit", value="10", onclick="radio('unit')")
                  span STM-10
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder5.gif", alt="STM-10", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="unit", value="10", onclick="radio('unit')")
                  span STM-10
      
      div.triangle
        
      h2.title チャッキングツールのタイプを選択
      .row
        .col-md-2.col-md-offset-3.col-sm-6.col-xs-6
          label
            figure
              img(src="/images/erowa.gif", alt="EROWA", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="chack", value="e", onclick="radio('chack')")
                  span EROWA
        .col-md-2.col-md-offset-2.col-sm-6.col-xs-6
          label
            figure
              img(src="/images/system3r.gif", alt="SYSTEM 3R", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="chack", value="r", onclick="radio('chack')")
                  span SYSTEM 3R

      div.triangle

      h2.title クランク部を選択
      .row
        .col-md-2.col-md-offset-1.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder6.gif", alt="v", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="folder", value="v", onclick="radio('folder')")
                  span V字型チャック
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder7.gif", alt="u", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="folder", value="u", onclick="radio('folder')")
                  span U字型チャック
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder8.gif", alt="eyc16", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="folder", value="eyc16", onclick="radio('folder')")
                  span コレット（16mm）
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder9.gif", alt="eyc25", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="folder", value="eyc25", onclick="radio('folder')")
                  span コレット（25mm）
        .col-md-2.col-sm-3.col-xs-6
          label
            figure
              img(src="/images/stmfolder10.gif", alt="eyc32", class="img-responsive")
            .form-group
              .radio
                  input(type="radio", name="folder", value="eyc32", onclick="radio('folder')")
                  span コレット（32mm）

      div.triangle

      div.row
        div.col-sm-6.col-sm-offset-3.col-xs-12
          figure
            img(src="/images/d.gif", name='stmimg', class='img-responsive', style='margin:auto;')
          div.form-horizontal
            .form-group
              label.col-sm-2.control-label(for='t1') 商品番号
              .col-sm-10
                input#t1.form-control(name='t1', type='text', placeholder='')
            //.form-group
              label.col-sm-2.control-label(for='t2') 標準価格
              .col-sm-10
                input#t2.form-control(name='t2', type='text', placeholder='')

          ul
            li STM-E(R)05、10-EYタイプの価格にはコレットは含まれて降りません（専用のスパナは付属しております）。
            li 商品番号に *1 のあるものは特別注文扱いになりますので、標準品より多少納期を要します。
            li 標準価格には、チャッキング栓(EROWA、ER-010755)又は、ドローバー(system3R 3R605,2E)が含まれております。
            li 仕様変更は無断で行われることがあります。
          p.a-mt50
            a.btn.btn-primary.btn-lg.btn-block(href='electrode_holder.html', role='button') 戻る
      
  script(src='scripts/radio.js')
