extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    //a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      figure.icon-mark
      h1.icon-logo
      h2 Be Your Partner
    button.trigger(data-info='Page Scroll')
      span.mouse
      span.scroll Page Scroll

block section_block
  section#product.content.container
    .push
      h1.section_title
        | 製造プロセスを改善する製品ラインナップ
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/magnetic.png', alt='マグネットチャック', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 マグネットチャック
              h4 小物用、薄物用、超硬用マグネットチャック。あなたのニーズにお答えします
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/holder.png', alt='電極ホルダー', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極ホルダー
              h4 女性でも楽々、軽量かつ高精度。電極の精度出しはお任せください
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/presetter.png', alt='電極プリセッター', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極プリセッター
              h4 放電加工機の電極精度出しは外段取りで
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/rolling_holder.png', alt='電極回転装置', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極回転装置
              h4 「今の放電加工機のまま電極を回転させたい」という方のために
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/crosstable.png', alt='クロステーブル', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 クロステーブル
              h4 X,Yの位置決めをよりスピーディーに、正確に
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/magnetic_hard.png', alt='超硬用マグネットチャック', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 超硬用マグネットチャック
              h4 小物用、薄物用、超硬用マグネットチャック。あなたのニーズにお答えします
  section#present1
    .container
      .row
        .col-sm-6.col-sm-offset-6
          h3 永久磁石を用いた新製品の開発が得意です
          p 1970年代から新製品が出ていなかった永久磁石式マグネットチャックの特許を取得
          ul
            li 特許第5716132取得
            li 特願2015-201331申請中
      .row
        .col-sm-6
          h3 精密化工機と同程度の精度ステージが可能
          ul
            li 岩手県工業技術センター 目黒技師と共同研究
            li 岩手大学工学部 吉野准教授と共同研究
          p XYZ100mmに対し直角度、平行度0.003mm以下(0.001mm)
          p 磁石を扱う会社は大手がメインですが、中小企業で磁石の配列を構築している企業は大変少ないです
  
  section#present2
    .container
      h1 サンアイ精機は年間４つ以上新製品を開発しています
      .row
        .col-sm-6
          figure
            img(src="images/", alt="")
            figcaption
              | 特許第5716132取得製品
          p いわて県工業技術センター 目黒技師と共同研究の成従来従来の製品よりONの力が1.7倍、OFFの弱さが1/10
          .row
            .col-sm-6
              figure
                img(src="images/", alt="")
            .col-sm-6
              figure
                img(src="images/", alt="")
        .col-sm-6
          figure
            img(src="images/", alt="")
            figcaption
              | 特願2015-201331製品
          p 
            | 岩手大学工学部　吉野准教授との共同開発の成果
            br
            | 薄物(厚さ1mm以下)ワークに対して横滑り摩擦が3~4倍
          .row
            .col-sm-6
              figure
                img(src="images/", alt="")
            .col-sm-6
              figure
                img(src="images/", alt="")
          h2 永久磁石を用いた新製品の開発が得意です
          p 1970年代から新製品が出ていなかった永久磁石式マグネットチャックの特許を取得
          ul
            li 特許第5716132取得
            li 特願2015-201331申請中
  
  section#present3.container
    h1 サンアイ精機は地域のサポ ートがあって成り立っています
    figure
      img(src="", alt="")
      figcaption 様々なサポートを受け、新たな製品作りを行っております
  
  section#present4.container 
    h1 サンアイ精機は常に新しいことにチャレンジします
    .row
      .col-sm-6.col-sm-offset-6
        h2 リニアコーダー
        p 永久磁石を利用して素粒子をコントロール
    .row
      .col-sm-6
        h2 南部鉄瓶
        p 
