extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      figure.icon-mark
      h1.icon-logo
      h2 Be Your Partner
    button.trigger(data-info='Click')
      span Click

block section_block
  .title.text-center.top_contents
    h1
      img(src='images/sanai_logo.svg', alt='株式会社サンアイ精機', width='400')
    h2
      | We wanna 
      span be your partner.
    p あなたのパートナーでありたい。
    p それを弊社のスローガンにしています的なダミーテキスト
  section#product.content.container
    .push
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/presetter.png', alt='電極プリセッター', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極プリセッター
              h4 放電加工機の電極精度出しは外段取りで
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/crosstable.png', alt='クロステーブル', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 クロステーブル
              h4 X,Yの位置決めをよりスピーディーに、正確に
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/magnetic.png', alt='マグネットチャック', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 マグネットチャック
              h4 小物用、薄物用、超硬用マグネットチャック。あなたのニーズにお答えします
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/holder.png', alt='電極ホルダー', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極ホルダー
              h4 女性でも楽々、軽量かつ高精度。電極の精度出しはお任せください
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/rolling_holder.png', alt='電極回転装置', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極回転装置
              h4 「今の放電加工機のまま電極を回転させたい」という方のために
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/magnetic_hard.png', alt='超硬用マグネットチャック', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 超硬用マグネットチャック
              h4 小物用、薄物用、超硬用マグネットチャック。あなたのニーズにお答えします
  section#company.container
    h1.title 企業情報
    ul.nav.nav-tabs
      li.active
        a(href='#summary', data-toggle='tab') 企業概要
      li
        a(href='#history', data-toggle='tab') 沿革
      li
        a(href='#equipment', data-toggle='tab') 設備一覧
    .tab-content
      #summary.tab-pane.active
        table.table.table_design
          tbody
            tr
              th 社名
              td 株式会社 サンアイ精機
            tr
              th 所在地
              td 岩手県奥州市江刺区愛宕字金谷127番地の1
            tr
              th TEL
              td 0197 - 35 - 5518
            tr
              th FAX
              td 0197 - 35 - 5527
            tr
              th 資本金
              td 5,000,000 円
            tr
              th 役員
              td 代表取締役 菊地晋也
            tr
              th 従業員
              td 男子 6人 女子 4 人 計 10 人
            tr
              th 主要取引先
              td
                | 株式会社 ソディック
                br
                |  株式会社 ソディックハイテック
                br
                |  株式会社 エロワ日本
                br
                |  システム・スリーアール日本
                br
                |  株式会社 ユアサ商事株式会社
                br
                |  株式会社 兼松KGK
                br
                |  株式会社 ミスミ
                br
                |  株式会社 ヤマモリ
            tr
              th 主要生産品目
              td クロステーブル・電極プリセッター・永磁式マグネットチャック（標準型、超硬材用システム型、特殊型）・電極回転装置
      #history.tab-pane
        table.table.table_design
          tbody
            tr
              th 昭和 48 年 5 月
              td 創業開始
            tr
              th 昭和 53 年 7 月
              td 会社設立と同時に東北リコーと取引開始
            tr
              th 昭和 61 年 8 月
              td 山田金型工場創設 プレス金型販売
            tr
              th 昭和 61 年
              td ソディックと取引開始・自社製品クロステーブル販売開始
            tr
              th 平成 4 年
              td クロステーブル 1,000 台販売達成
            tr
              th 平成 8 年
              td 電極プリセッター、細穴放電加工機 ソディックＯＥＭとして販売開始
            tr
              th 平成 8 年
              td
                | NC クロステーブル販売開始
                br
                |  電極ホルダー販売開始
            tr
              th 平成 9 年
              td マグネットチャック販売開始
      #equipment.tab-pane
        .row
          .col-md-12
            table.table.table_design
              thead
                tr
                  th 機械名
                  th メーカー名
                  th 能力
                  th 台数
              tbody
                tr
                  td 横型マシニングセンター
                  td 三井精機
                  td #5
                  td 1 台
                tr
                  td 堅型マシニングセンター
                  td 三井精機
                  td #3
                  td 1 台
                tr
                  td 堅型マシニングセンター
                  td 浜井産業
                  td #2
                  td 1 台
                tr
                  td 堅型マシニングセンター
                  td 山崎鉄工
                  td #3
                  td 1 台
                tr
                  td NC フライス盤
                  td 浜井産業
                  td #4
                  td 1 台
                tr
                  td NC フライス盤
                  td ワシノ
                  td #3
                  td 2 台
                tr
                  td NC 旋盤
                  td 池貝鉄工
                  td 6 尺
                  td 1 台
                tr
                  td NC 旋盤
                  td 山崎鉄工
                  td 6 尺
                  td 1 台
                tr
                  td NC 旋盤
                  td 理研製鋼
                  td クシ型
                  td 1 台
                tr
                  td 放電加工機
                  td アステック
                  td Ａ22Ｍ/Ｐ2
                  td 1 台
                tr
                  td 平面研削盤
                  td 岡本工作
                  td 600×500
                  td 1 台
                tr
                  td 平面研削盤
                  td 岡本工作
                  td 1000×500
                  td 1 台
                tr
                  td 平面研削盤
                  td 黒田精工
                  td 600×300
                  td 1 台
                tr
                  td 円筒研削盤
                  td 宮元製作所
                  td 芯間 500
                  td 1 台
                tr
                  td 成型研削盤
                  td 日興機械
                  td 515
                  td 2 台
                tr
                  td 汎用フライス盤
                  td マキノ、他
                  td #1.5 ～ #2
                  td 6 台
                tr
                  td 汎用旋盤
                  td ワシノ、他
                  td 5 尺 ～ 6 尺
                  td 3 台
                tr
                  td 三次元測定器
                  td 三豊
                  td 600×700
                  td 1 台
  section#president.container
    h1.title 社長あいさつ
    dl.dl-horizontal
      dt
        img.title(src='images/yk_iwate_04.jpg', alt='社長')
      dd
        p
          | ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー
  section#access
    .gmap_wrapper
      #gmap
      script(src='http://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places')
  //
    <section id="recruit" class="container">
    <h1>採用情報</h1>
    <table class="table">
    <tbody>
    <tr>
    <th>仕事内容</th>
    <td>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
    </tr>
    <tr>
    <th>雇用形態</th>
    <td>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
    </tr>
    <tr>
    <th>勤務地</th>
    <td>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
    </tr>
    <tr>
    <th>給与</th>
    <td>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
    </tr>
    <tr>
    <th>応募方法</th>
    <td>ダミーダミーダミーダミーダミーダミーダミーダミーダミーダミー</td>
    </tr>
    </tbody>
    </table>
    <form class="form-horizontal" role="form">
    <div class="form-group">
    <label for="inputName" class="col-lg-2 control-label">名前</label>
    <div class="col-lg-10">
    <input type="name" class="form-control input-lg" id="inputName" placeholder="例）三愛 太郎">
    </div>
    </div>
    <div class="form-group">
    <label for="inputEmail" class="col-lg-2 control-label">メール</label>
    <div class="col-lg-10">
    <input type="email" class="form-control input-lg" id="inputEmail" placeholder="例）example@mail.com">
    </div>
    </div>
    <div class="form-group">
    <label for="inputPhone" class="col-lg-2 control-label">連絡先</label>
    <div class="col-lg-10">
    <input type="tel" class="form-control input-lg" id="inputPhone" placeholder="例）090-0000-0000">
    </div>
    </div>
    <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
    <button type="submit" class="btn btn-default btn-lg">応募する</button>
    </div>
    </div>
    </form>
    </section>
    <hr>
