extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      figure
        img(src="/images/newlogo_white.svg", alt="", class="logo")
      h1
        img(src="/images/name_white.svg", alt="", class="name")
      h2 Be Your Partner
    button.trigger(data-info='Page Scroll')
      span.mouse
      span.scroll Page Scroll

block section_block
  section#product.content.container
    .push
      h1.section_title
        | あなたの工場の製造プロセスを改善します
      .row
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_magnet.png', alt='マグネットチャック', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 マグネットチャック
              h4 小物用、薄物用、超硬用マグネットチャック。あなたのニーズにお答えします
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_holder.png', alt='電極ホルダー', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極ホルダー
              h4 女性でも楽々、軽量かつ高精度。電極の精度出しはお任せください
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_pre.png', alt='電極プリセッター', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極プリセッター
              h4 放電加工機の電極精度出しは外段取りで
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_rolling.png', alt='電極回転装置', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 電極回転装置
              h4 X,Yの位置決めをよりスピーディーに、正確に
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_cross.png', alt='クロステーブル', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 クロステーブル
              h4 X,Yの位置決めをよりスピーディーに、正確に
        .col-xs-12.col-sm-6.col-md-4
          a(href='#')
            .overlay-effect.effects.clearfix
              .img
                img(src='/images/index_company.png', alt='サンアイ精機会社情報', draggable='false')
                .overlay
                  span.expand
                    i.icon-search
                    br
                    | View More
              h3 会社情報
              h4 スタッフ紹介や企業情報など
  section#present1
    .row
      .col-md-6.industry.backimage.present1_1
        
      .col-md-6.industry.backmaincolor
        h3 永久磁石を用いたマグネットチャックの開発が得意です
        p 弊社は永久磁石の配列による磁束の変化を利用したマグネットチャックの開発が得意です。現在ラインナップは50以上あります。切削加工の応力に耐えられるシリーズや超硬材を保持できるマグネットチャック、最近では格子状の表面を持つ製品などもあります。
    .row
      .col-md-6.industry.backmaincolor
        h3 精密加工機と同程度の精度ステーシが可能
        p ステージを有名工作機械メーカーにOEMで収めていた実績があり、その技術による精密なステージを製造販売しております。工業技術センターや岩手大学との共同研究も盛んで、特許を伴う新しい製品の開発にも成功しています。現在も岩手大学亀田准教授と共同研究を結び、新しい製品開発に取り組んでおります。
      .col-md-6.industry.backimage.present1_2  
  section#present2
    .container
      h1.section_title サンアイ精機は年間４つ以上新製品を開発しています
      .row
        .col-sm-6
          figure
            img(src="images/p2_1.png", alt="")
            figcaption
              | 特許第5716132取得製品
          p いわて県工業技術センター、目黒技師との共同研究でマグネットチャックの開発をしています。ワークの加工応力は40kgfを超えています。現在その製品はトヨタ自動車やオムロンなどにご好評を頂いております。

        .col-sm-6
          figure
            img(src="images/p2_2.png", alt="")
            figcaption
              | 特願2015-201331製品
          p これは世界初の格子状マグネットチャックです。岩手大学工学部 吉野准教授との共同研究の成果品です。表面の模様だけであれば過去に特許申請されていたそうですが、実際に磁石の稼動をさせて磁束のオンオフに成功させたのは弊社だけです。現在この製品は特許申請中です。
  section#present3
    .container
      h1.section_title サンアイ精機は地域のサポートがあって成り立っています
      figure
        img(src="images/figure1.svg", alt="")
        figcaption 様々なサポートを受け、新たな製品作りを行っております
  
  section#present4.container
    h1.section_title サンアイ精機は常に新しいことにチャレンジします
    .row
      .col-md-6.industry.backimage.present4_1
        
      .col-md-6.industry.backwhite
        h3 リニアコライダー
        p 永久磁石を利用して素粒子をコントロール
    .row
      .col-md-6.industry.backwhite
        h3 南部鉄瓶の中子、金型、デジタル化
        p 3Dで鋳造に必要なデータを保存することで、金型製作を3DCAD、3DCAMで加工できるようになり、またリモデルも可能になります。弊社では南部鉄瓶の薄肉化や新たなデザインへのお手伝いをしています。
      .col-md-6.industry.backimage.present4_2  
