extend _template/_sanaisk

block title_block
  title 切削加工を楽にする、マグネットチャック 株式会社サンアイ精機
  
  
block header_block
  header.header
    .bg-img
      img(src="/images/magnet_top.png", alt="")
    .topoverlay
    //- a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1.text マグネットチャック
      h2 作業効率が大幅にアップします
    button.trigger(data-info='Page Scroll')
      span.mouse
      span.scroll Page Scroll

block section_block
  
  section#stationary.content
    .push
      .row
        .col-md-6.industry.backimage.magnet1
          
        .col-md-6.industry.backwhite
          h3
            | 形彫り放電加工機にて加工物を固定する
          p
            | 薄物から厚物、大きなサイズまで幅広く使える様作業面積を広くしており、厚さも40mmおよび45mmと薄くしております。
      .row
        .col-md-6.industry.backwhite
          h3
            | 小型加工物の加工に便利
          p
            | ピッチが細かいので小型の加工物を加工する上でも適しております。もちろん放電加工用に開発されているので液中加工も問題ありません。
        .col-md-6.industry.backimage.magnet2
      .row
        .col-md-6.industry.backimage.magnet3
          
        .col-md-6.industry.backwhite
          h3
            | 価格もリーズナブル
          p
            | サイズも様々用意しており、価格もリーズナブルに設定いたしました。放電加工機をご使用頂いているお客様にはぜひお奨めしたい商品です。

  section#product.content.container
    h1.title SM-Hシリーズ
    .row
      .col-md-3
        figure.a-mb4
          img(src='/images/SM-H1015.webp', alt='SM-H1015', class='img-responsive')
          figcaption 
            | 上 : SM-H1015(パレット型)、下 : SM-H1015(据え置き型)
        figure.a-mb4
          img(src='/images/SM-H1515.webp', alt='SM-H1515', class='img-responsive')
          figcaption 
            | SM-H1515(パレット型)
        figure.a-mb4
          img(src='/images/SM-3H1015.webp', alt='SM-3H1015', class='img-responsive')
          figcaption 
            | SM-3H1015(据え置き型)
      .col-md-9
        .area
          h2 0.001mm精度の加工時代に切削対応マグネットチャック
          h3 マシニングセンターで高精度に加工したい
          p 高精度のマシニングセンターであってもワークが傾いてクランプされていれば精度はでません。
          p 研削盤のように平面クランプで加工すれば高い平行度で加工することができます。

          h3 24時間無人加工したい
          p マシニングセンターなどでワークを交換するには対応するチャックに対して高精度でクランプしておく必要があります。
          p SM-HシリーズはEROWA・3Rに対応（オプション）。ワークを高精度で保持したままロボット（ワークチェンジャー）で交換できます。

          h3 そのまま放電加工機や3次元測定機に
          p SM-HシリーズはEROWA・3Rに対応（オプション）。ワークを高精度で保持したまま交換できます。
          p スラッジや切粉はウエスなどで簡単に拭き取れます。
          p また防水仕様なので加工機を選びません。
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/SM-H.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | SM-Hシリーズのカタログ
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/sign_bar.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | マグネットチャック一体型サインバーのカタログ


    .row 
      .col-xs-12 
        table.table.table_design 
          thead 
            tr
              th PRODUCT NAME 
              td SIZE(mm)
              td WEIGHT(kg)
              td SURFACE PITCH 
          tbody 
            tr
              th SM-H1015 
              td 100 x 160 x t45
              td 5.5
              td 3:11(14mm)
            tr
              th SM-H1515
              td 150 x 160 x t45
              td 8.5
              td 3:11(14mm)
            tr
              th SM-H1520
              td 150 x 160 x t45
              td 12.5
              td 3:11(14mm)
            tr
              th SM-H2020
              td 200 x 200 x t50
              td 16.5
              td 3:11(14mm)
            tr
              th SM-H2030
              td 200 x 300 x t53
              td 25.0
              td 3:11(14mm)
            tr
              th SM-H3030
              td 300 x 300 x t53
              td 37.0
              td 3:11(14mm)
            tr
              th SM-3H1015
              td 100 x 160 x t45
              td 5.5
              td 1:2(3mm)
            tr
              th SM-3H1515
              td 150 x 160 x t45
              td 8.5
              td 1:2(3mm)
            tr
              th SM-3H1520
              td 150 x 200 x t50
              td 12.5
              td 1.2(3mm)
            tr
              th SM-3H2020
              td 200 x 200 x t50
              td 16.5
              td 1:2(3mm)
            tr
              th SM-3H2030
              td 200 x 300 x t50
              td 16.5
              td 1:2(3mm) 

    hr.a-mb64

    h1.title 永久磁石式マグネットチャック
    .row
      .col-md-3
        figure
          img(src='/images/magnet_sm.png', alt="", class="img-responsive")
      .col-md-9
        .area
          h2 据え置き型マグネットチャック
          p 形彫り放電加工機にて加工物を固定するマグネットチャックです。薄物から厚物、大きなサイズまで幅広く使える様作業面積を広くしており、厚さも40mmおよび45mmと薄くしております。またピッチが細かいので小型の加工物を加工する上でも適しております。もちろん放電加工用に開発されているので液中加工も問題ありません。サイズも様々用意しており、価格もリーズナブルに設定いたしました。放電加工機をご使用頂いているお客様にはぜひお奨めしたい商品です。
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/magnetic_chuck.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | マグネットチャックのカタログ

    .row
      .col-xs-12
        table.table.table_design
          thead
            th
              | 型番
            td
              | 平面度
            td
              | 平行度
            td
              | 着磁力
              br
              |(中央部 ☓ 四隅部)
            td
              | 残留着磁力
            td
              | ハンドトルク
            td
              | 寸法
              br
              |(H×W×L)
            td
              | 作業面積
              br
              |(W×E)
            td
              | 磁力ピッチ
            td
              | T厚
            td
              | 重量
            //
              td
                | 標準価格
          tbody
            tr
              th
                | SM-0710
              td
                | 0.01
              td
                | 0.01
              td
                | 40kgf ☓ 25kgf
              td
                | 3kgf
              td
                | 20kg･cm
              td
                | 40×75×100
              td
                | 75×70
              td
                | 3
              td
                | 10
              td
                | 2.4kg
              //
                td
                  | &yen;90,900
            tr
              th
                | SM-1015
              td
                | 0.01
              td
                | 0.01
              td
                | 50kgf ☓ 30kgf
              td
                | 4kgf
              td
                | 25kg･cm
              td
                | 40×100×150
              td
                | 100×120
              td
                | 3
              td
                | 10
              td
                | 4.7kg
              //
                td
                  | &yen;113,400
            tr
              th
                | SM-1530
              td
                | 0.01
              td
                | 0.015
              td
                | 100kgf ☓ 35kgf
              td
                | 4kgf
              td
                | 55kg･cm
              td
                | 40×150×300
              td
                | 150×260
              td
                | 3
              td
                | 10
              td
                | 12.8kg
              //
                td
                  | &yen;181,700
            tr
              th
                | SM-2040
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf
              td
                | 5kgf
              td
                | 70kg･cm
              td
                | 45×200×400
              td
                | 200×360
              td
                | 3
              td
                | 14
              td
                | 24.8kg
              //
                td
                  | &yen;275,000
            tr
              th
                | SM-2050
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf	
              td
                | 5kgf
              td
                | 85kg･cm
              td
                | 45×200×500
              td
                | 200×460
              td
                | 3
              td
                | 14
              td
                | 31.2kg
              //
                td
                  | &yen;349,500
            tr
              th
                | SM-3040
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf
              td
                | 3kgf
              td
                | 160kg･cm
              td
                | 45×300×400
              td
                | 300×360
              td
                | 3
              td
                | 14
              td
                | 37.3kg
              //
                td
                  | &yen;376,500
            tr
              th
                | SM-4060
              td
                | 0.02
              td
                | 0.025
              td
                | 110kgf ☓ 45kgf
              td
                | 5kgf
              td
                | 250kg･cm
              td
                | 45×400×600
              td
                | 400×560
              td
                | 3
              td
                | 14
              td
                | 95.0kg
              //
                td
                  | &yen;751,000
    hr
    .row
      .col-md-3
        figure
          img(src='/images/magnet_eiji_parret.png', alt="", class="img-responsive")
      .col-md-9
        .area
          h2 パレット型マグネットチャック
          p 放電加工機等に、オート・ワークパレットチェンジャーの需要が確実に拡大しておりますが、ワークパレットとしての永磁式マグネットチャックの活用度もまた確実に広がっております。
          p そのニーズに対応すべくパレット型永磁式マグネットチャックの標準シリーズを新たに登場させました。
          p 標準仕様に、追加オプションすることにも対応出来る体制でおりますので御相談下さい。
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/palette.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | パレット型マグネットチャックのカタログ


    .row
      .col-xs-12
        table.table.table_design
          thead
            tr
              th
                | 型番
              td
                | 磁力間ピッチ
              td
                | 上面積
              td
                | 有効作業面積
              td
                | 重量(本体)
              //td
                | 標準価格
          tbody
            tr
              th
                | SM-PM0505M E/R
              td
                | 1.5
              td
                | 55×55
              td
                | 54×37
              td
                | 1.5kg
              //td
                | &yen;144,900
            tr
              th
                | SM-PM0505 E/R
              td
                | 3
              td
                | 55×55
              td
                | 55×55
              td
                | 1.5kg
              //td
                | &yen;131,900
            tr
              th
                | SM-PM0606M
              td
                | 1.5
              td
                | 60×60
              td
                | 45×60
              td
                | 1.6kg
              //td
                | 
            tr
              th
                | SM-P1010M
              td
                | 1.5
              td
                | 100×100
              td
                | 76×100
              td
                | 2.8kg
              //td
                | &yen;140,900
            tr
              th
                | SM-P1010
              td
                | 3
              td
                | 100×100
              td
                | 100×70
              td
                | 3.1kg
              //td
                | &yen;122,900
            tr
              th
                | SM-P1015
              td
                | 3
              td
                | 100×150
              td
                | 100×120
              td
                | 100×120
              //td
                | &yen;151,000
            tr
              th
                | SM-P1515
              td
                | 3
              td
                | 150×150
              td
                | 150×120
              td
                | 7.0kg
              //td
                | &yen;210,200
            tr
              th
                | SM-P2020
              td
                | 3
              td
                | 200×200
              td
                | 200×170
              td
                | 14.0kg
              //td
                | &yen;259,700
            tr
              th
                | SM-P2525
              td
                | 3
              td
                | 250×250
              td
                | 250×220
              td
                | 22.0kg
              //td
                | &yen;287,000
    p
      | 高さはチャッキングシステムにより一様 では有りませんので御相談下さい。標準型式以外のサイズ、特別仕様等にも対応いたします。
    p
      | 標準付属品 : X,Y方向ストッパープレート、ON,OFF切換えレバー
    p
      | 御注文の際は、チャッキングシステム（ＥＲＯＷＡ又はsystem3R)の選定をお願いします。
    h5.title 特別仕様
    p
      | 制御モーター取付仕様、ボールネジ仕様、高精度(静的精度の向上)、仕様等のご相談にも応じております。
    h5.title 特別付属品
    p
      | スケールユニットの付加(Mitsutoyo 製のリニヤスケールを標準としていますが、メーカー指定のご相談にも応じております)。
      br
      | オイルパンの付加(標準品を用意しておりますが、特別仕様のご相談にも応じております)。 
    hr.a-mb64       
    h1.title 超硬材用マグネットチャック
    .row
      .col-md-3
        figure
          img(src='/images/magnet_chokou.png', alt="", class="img-responsive")
      .col-md-9
        .area
          p 超硬材を鋼材と同様に容易にキャッチング、着脱できるよう多少着磁力の最小、最大の切換え（磁力 ＯＮ．ＯＦＦ）を可能にした作業性を重視した永磁式マグネットチャックで、放電加工、研削加工に最適なツールです。
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/SM-C.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | 超硬材用マグネットチャックのカタログ

    .row
      .col-xs-12
        table.table.table_design
          thead
            tr
              th
                | 型番
              td
                | 大きさ
              td
                | 作業面積
              td
                | 磁極間ピッチ
              td
                | 重量(kg)
              //td
                | 標準価格
          tbody
            tr
              th
                | SM-C1580
              td
                | 80×150×50
              td
                | 60×80
              td
                | 8
              td
                | 3.8
              //td
                | &yen;280,000
            tr
              th
                | SM-C1009V
              td
                | 87×104×65
              td
                | 55×90
              td
                | 8
              td
                | 4.5kg
              //td
                | &yen;300,000
            tr
              th
                | SM-C1810
              td
                | 100×180×50
              td
                | 90×100
              td
                | 8
              td
                | 6.8kg
              //td
                | &yen;310,000
            tr
              th
                | SM-C2214
              td
                | 140×225×53
              td
                | 120×150
              td
                | 8
              td
                | 13kg
              //td
                | &yen;610,000
    hr.a-mb64       
    h1.title 切削加工用マグネットチャック
    .row
      .col-md-3
        figure
          img(src='/images/magnet_usugata.png', alt="", class="img-responsive")
      .col-md-9
        .area
          p シンプルでコンパクトなデザインながら超強力なマグネットチャックがついに販売です！強力な保持力を持ちながら薄物、小物に特化した新製品です。
    .row
      .col-xs-12
        table.table.table_design
          thead
            tr
              th
                | 型番
              td
                | 大きさ
              td
                | 重量(kg)
          tbody
            tr
              th
                | SM-3H1015
              td
                | 45×160×100
              td
                | 6
            tr
              th
                | SM-H1015
              td
                | 100×160×45
              td
                | 6.5
            tr
              th
                | SM-H1515
              td
                | 150×160×40
              td
                | 8.5
  
    hr.a-mb64       
    h1.title 丸型マグネットチャック
    .row
      .col-md-6
        h3.youtube_title.a-mt8 丸形マグネットチャック フラッシングモデル SM-SWH160
        +youtube("ScmiGAYdw0Q", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 SM-SW3H130
        +youtube("aC5muEcwC5M", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 SM-SW3H130 part2
        +youtube("8IZxSoWmn1Y", "0", "undefined", "100%", "auto")
    .row 
      .col-xs-12 
        a.btn.btn-primary.btn-lg(href='/images/pdf/circle_magnetic_chuck.pdf', role ='button', target='_blank') 
          i(data-feather='file-text')
          | 丸型マグネットチャックのカタログ

    hr.a-mb64       
    h1.title エアー式マグネットチャック
    .row
      .col-md-6
        h3.youtube_title.a-mt8 エアー式マグネットチャックSWL-H190
        +youtube("LPgZAPL-7Ho", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 SWL-H190 part2
        +youtube("3B-T4BWO3tk", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 SWL-H190 part3
        +youtube("AgdL0RpSPT0", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 細穴放電加工機向けクランプ治具 SWL-H190
        +youtube("lXhznKIdp6U", "0", "undefined", "100%", "auto")
      .col-md-6
        h3.youtube_title.a-mt8 ワイヤー放電加工機と細穴放電加工機を連携させて中子処理を行う方法 SWL-H190
        +youtube("crHVkFFn3mA", "0", "undefined", "100%", "auto")
    p 
      a.btn.btn-primary.btn-lg(href='/images/pdf/H190L_catalog.pdf', role ='button', target='_blank') 
        i(data-feather='file-text')
        | エアー式マグネットチャックのカタログ


    hr.a-mb64       
    h1.title 超小型強力マグネットチャック
    .row
      .col-xs-12
        h3.youtube_title.a-mt8 超小型強力マグネットチャック SM-C0505E/R
        +youtube("Wl5Ck-N8BYM", "0", "undefined", "96vmin", "72vmin")

