extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1 永久磁石式マグネットチャック
    button.trigger(data-info='Click')
      span Click

block section_block
  .title.text-center.top_contents
    h2
      | 永久磁石式マグネットチャック
    h3
      include _icons/_crosstable
        
    p 形彫り放電加工機に最適
  
  section#stationary.content
    .push
      header.sectiontitle.content
        h1
          | 据え置き型マグネットチャック
      .row
        .col-md-6.industry.backimage.cross1
          
        .col-md-6.industry.backwhite
          .effect-left
            h3
              | 形彫り放電加工機にて加工物を固定する
            p
              | 薄物から厚物、大きなサイズまで幅広く使える様作業面積を広くしており、厚さも40mmおよび45mmと薄くしております。
      .row
        .col-md-6.industry.backwhite
          .effect-left
            h3
              | 小型加工物の加工に便利
            p
              | ピッチが細かいので小型の加工物を加工する上でも適しております。もちろん放電加工用に開発されているので液中加工も問題ありません。
        .col-md-6.industry.backimage.cross2
      .row
        .col-md-6.industry.backimage.cross1
          
        .col-md-6.industry.backwhite
          .effect-left
            h3
              | 価格もリーズナブル
            p
              | サイズも様々用意しており、価格もリーズナブルに設定いたしました。放電加工機をご使用頂いているお客様にはぜひお奨めしたい商品です。
  
  section#product.content.container
    h1.title
      | LINE UP
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
        a(href='#')
          .overlay-effect.effects.clearfix
            .img
              img(src='/images/presetter.png', alt='電極プリセッター', draggable='false')
              .overlay
                span.expand
                  i.icon-search
                  br
                  | View More
            h3 SCT-2300
    h2.title 
     | 標準仕様
     span.subtitle
       | (mm)
    .row
      .col-xs-12
        table.table.table_design
          thead
            th
              | 型番
            td
              | 平面度
            td
              | 平行度
            td
              | 着磁力
              br
              |(中央部 ☓ 四隅部)
            td
              | 残留着磁力
            td
              | ハンドトルク
            td
              | 寸法
              br
              |(H×W×L)
            td
              | 作業面積
              br
              |(W×E)
            td
              | 磁力ピッチ
            td
              | T厚
            td
              | 重量
            td
              | 標準価格
          tbody
            tr
              th
                | SM-0710
              td
                | 0.01
              td
                | 0.01
              td
                | 40kgf ☓ 25kgf
              td
                | 3kgf
              td
                | 20kg･cm
              td
                | 40×75×100
              td
                | 75×70
              td
                | 3
              td
                | 10
              td
                | 2.4kg
              td
                | &yen;90,900
            tr
              th
                | SM-1015
              td
                | 0.01
              td
                | 0.01
              td
                | 50kgf ☓ 30kgf
              td
                | 4kgf
              td
                | 25kg･cm
              td
                | 40×100×150
              td
                | 100×120
              td
                | 3
              td
                | 10
              td
                | 4.7kg
              td
                | &yen;113,400
            tr
              th
                | SM-1530
              td
                | 0.01
              td
                | 0.015
              td
                | 100kgf ☓ 35kgf
              td
                | 4kgf
              td
                | 55kg･cm
              td
                | 40×150×300
              td
                | 150×260
              td
                | 3
              td
                | 10
              td
                | 12.8kg
              td
                | &yen;181,700
            tr
              th
                | SM-2040
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf
              td
                | 5kgf
              td
                | 70kg･cm
              td
                | 45×200×400
              td
                | 200×360
              td
                | 3
              td
                | 14
              td
                | 24.8kg
              td
                | &yen;275,000
            tr
              th
                | SM-2050
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf	
              td
                | 5kgf
              td
                | 85kg･cm
              td
                | 45×200×500
              td
                | 200×460
              td
                | 3
              td
                | 14
              td
                | 31.2kg
              td
                | &yen;349,500
            tr
              th
                | SM-3040
              td
                | 0.015
              td
                | 0.02
              td
                | 110kgf ☓ 45kgf
              td
                | 3kgf
              td
                | 160kg･cm
              td
                | 45×300×400
              td
                | 300×360
              td
                | 3
              td
                | 14
              td
                | 37.3kg
              td
                | &yen;376,500
            tr
              th
                | SM-4060
              td
                | 0.02
              td
                | 0.025
              td
                | 110kgf ☓ 45kgf
              td
                | 5kgf
              td
                | 250kg･cm
              td
                | 45×400×600
              td
                | 400×560
              td
                | 3
              td
                | 14
              td
                | 95.0kg
              td
                | &yen;751,000
    .row
      .col-xs-12
        table.table.table_design
          thead
            tr
              th
                | 型番
              td
                | 磁力間ピッチ
              td
                | 上面積
              td
                | 有効作業面積
              td
                | 重量(本体)
              td
                | 標準価格
          tbody
            tr
              th
                | SM-PM0505M E/R
              td
                | 1.5
              td
                | 55×55
              td
                | 54×37
              td
                | 1.5kg
              td
                | &yen;144,900
            tr
              th
                | SM-PM0505 E/R
              td
                | 3
              td
                | 55×55
              td
                | 55×55
              td
                | 1.5kg
              td
                | &yen;131,900
            tr
              th
                | SM-PM0606M
              td
                | 1.5
              td
                | 60×60
              td
                | 45×60
              td
                | 1.6kg
              td
                | 
            tr
              th
                | SM-P1010M
              td
                | 1.5
              td
                | 100×100
              td
                | 76×100
              td
                | 2.8kg
              td
                | &yen;140,900
            tr
              th
                | SM-P1010
              td
                | 3
              td
                | 100×100
              td
                | 100×70
              td
                | 3.1kg
              td
                | &yen;122,900
            tr
              th
                | SM-P1015
              td
                | 3
              td
                | 100×150
              td
                | 100×120
              td
                | 100×120
              td
                | &yen;151,000
            tr
              th
                | SM-P1515
              td
                | 3
              td
                | 150×150
              td
                | 150×120
              td
                | 7.0kg
              td
                | &yen;210,200
            tr
              th
                | SM-P2020
              td
                | 3
              td
                | 200×200
              td
                | 200×170
              td
                | 14.0kg
              td
                | &yen;259,700
            tr
              th
                | SM-P2525
              td
                | 3
              td
                | 250×250
              td
                | 250×220
              td
                | 22.0kg
              td
                | &yen;287,000
    p
      | 高さはチャッキングシステムにより一様 では有りませんので御相談下さい。標準型式以外のサイズ、特別仕様等にも対応いたします。
    p
      | 標準付属品 : X,Y方向ストッパープレート、ON,OFF切換えレバー
    p
      | 御注文の際は、チャッキングシステム（ＥＲＯＷＡ又はsystem3R)の選定をお願いします。
    h5.title 特別仕様
    p
      | 制御モーター取付仕様、ボールネジ仕様、高精度(静的精度の向上)、仕様等のご相談にも応じております。
    h5.title 特別付属品
    p
      | スケールユニットの付加(Mitsutoyo 製のリニヤスケールを標準としていますが、メーカー指定のご相談にも応じております)。
      br
      | オイルパンの付加(標準品を用意しておりますが、特別仕様のご相談にも応じております)。
