extend _template/_sanaisk

block header_block
  header.header
    .bg-img
    .topoverlay
    a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1 プリセッター
    button.trigger(data-info='Click')
      span Click

block section_block
  .title.text-center.top_contents
    h2
      | 電極プリセッター
    p 放電加工機の電極精度出しは外段取りで
  section#crosstable.content
    .push
      .row
        .col-md-6.industry.backimage.cross1
          
        .col-md-6.industry.backwhite
          .effect-left
            h3
              | 電極・ワークのプリセットに
            p
              | 放電加工機等の電極、又はワークを、現状より更に高精度なプリセットを望まれているユーザーのために、新たに開発された新製品で、EROWA/system 3R両社のシステムに対応します。稼働率向上と、より高精度な加工に最適なツールです
      .row
        .col-md-6.industry.backwhite
          .effect-left
            h3
              | チャッキングツールも用意
            p
              | リニアスケール取付ができます。X,Y,Z の各軸に取付可能です。スケールは Mitutoyo 製 AT111 を標準とします。EROWA、system3R社製のチャッキングツールが用意されております。
        .col-md-6.industry.backimage.cross2
  
  section#product.content.container
    h1.title
      | LINE UP
    .row
      .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4
        a(href='#')
          .overlay-effect.effects.clearfix
            .img
              img(src='/images/presetter.png', alt='電極プリセッター', draggable='false')
              .overlay
                span.expand
                  i.icon-search
                  br
                  | View More
            h3 SCT-2300
