extend _template/_sanaisk

block header_block
  header.header
    .bg-img
      img(src="/images/pre_top.png", alt="")
    .topoverlay
    //- a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1.text 電極、ワークプリセッター
      h2 加工機の前段取りはお任せください
    button.trigger(data-info='Page Scroll')
      span.mouse
      span.scroll Page Scroll

block section_block
  section#crosstable.content
    .push
      .row
        .col-md-6.industry.backimage.pre1
          
        .col-md-6.industry.backwhite
          h3
            | 電極・ワークのプリセットに
          p
            | 放電加工機等の電極、又はワークを、現状より更に高精度なプリセットを望まれているユーザーのために、新たに開発された新製品で、EROWA/system 3R両社のシステムに対応します。稼働率向上と、より高精度な加工に最適なツールです
      .row
        .col-md-6.industry.backwhite
          h3
            | チャッキングツールも用意
          p
            | リニアスケール取付ができます。X,Y,Z の各軸に取付可能です。スケールは Mitutoyo 製 AT111 を標準とします。EROWA、system3R社製のチャッキングツールが用意されております。
        .col-md-6.industry.backimage.pre2

  section#product.container
    .row
      .col-md-3
        figure.product_image
          img(src='/images/presetter.png', alt="", class="img-responsive")
      .col-md-9
        .area
          h2 SEP-02A
          p 放電加工機等の電極、又はワークを、現状より更に高精度なプリセットを望まれているユーザーのために、新たに開発された新製品で、EROWA/system 3R両社のシステムに対応します。
          p 稼働率向上と、より高精度な加工に最適なツールです。

    table.table.table_design
      thead
        tr
          th
            | 型番
          td
            | テーブルストローク
          td
            | 各軸のヨーイング、
            br
            | ピッチ精度
          td
            | テーブル面と
            br
            | Z軸の直角度
          td
            | テーブル面の動的平行度
            br
            | 150mm×150mにて
          td
            | 幅
          td
            | 奥
          td
            | 高さ
          td
            | 重量
      tbody
        tr
          th
            | SEP-02A
          td
            | X:150 Y:150
          td
            | ±0.001/150mm
          td
            | X方向:0.003mm
            br
            | Y方向:0.003mm
          td
            | 0.003mm
          td
            | 720
          td
            | 850
          td
            | 1350
          td
            | 270kg
