extend _template/_sanaisk

block header_block
  header.header
    .bg-img
      img(src="/images/rolling_top.webp", alt="")
    .topoverlay
    //- a#video.player(data-property="{videoURL:'xNHY_DpDF8s',containment:'.bg-img', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, addRaster:false, quality:'default'}")
    .title
      h1.text 電極回転装置
      h2 御社の放電装置に装着可能です
    button.trigger(data-info='Page Scroll')
      span.mouse
      span.scroll Page Scroll

block section_block

  section#youtube.content   
    .container
      .row 
        .col-md-8.col-md-offset-2
          h3.youtube_title.a-mt8 電極回転装置 SER-01A
          +youtube("QsMRhxEdUyE", "0", "undefined", "100%", "auto")
  
  section#stationary.content
    .push
      .row
        .col-md-6.industry.backimage.rolling1
          
        .col-md-6.industry.backwhite
          h3
            | 御社の「できない」を「できる」に変えます
          p 放電加工機をマシニングセンターのように
          p 放電加工機をジグ研削盤のように
          p 放電加工機を細穴放電加工機のように

  section#product.content.container
    h1.title 高精度電極回転装置
    .row
      .col-md-3
        figure
          img(src='/images/rolling_1.png', alt="", class="img-responsive")
      .col-md-9
        .area
          h2 SER-01A
          p コレットチャック、ドリルチャックを選べます。仕様、値段によって回転ブレ精度が変わります。
          p 写真はEROWA仕様です。System3Rも選べます。
          p 
            a.btn.btn-primary.btn-lg(href='/images/pdf/SER-01A.pdf', role ='button', target='_blank') 
              i(data-feather='file-text')
              | 電極回転装置のカタログ

    .row
      .col-xs-12
        table.table.table_design
          thead
            th
              | 型番
            td
              | 本体重量
            td
              | 回転ブレ
            td
              | 回転数
          tbody
            tr
              th
                | SER-01A
              td
                | 4.5kg
              td
                | 0.002以内
              td
                | 120~1200r/min
