mixin contact
  section#contact
    .container
      .col-lg-offset-1.col-lg-10.col-md-offset-1.col-md-10.col-sm-offset-1.col-sm-10.col-xs-12
        h1.title
          | お問い合わせ
        p 製品に対するお問い合わせ、資料請求など、お気軽にお問い合わせください。

        include ../../_include/_inquiry_form

        p 上記フォームが表示されない場合、以下のメールアドレスもしくは電話番号からお問い合わせください。

        ul
          li
            span.glyphicon.glyphicon-envelope(aria-hidden='true')
              a(href='mailto:sunai@pup.waiwai-net.ne.jp')
                | sunai@pup.waiwai-net.ne.jp
          li
            span.glyphicon.glyphicon-phone-alt(aria-hidden='true')
              a(href='tel:0197355518')
                | 0197-35-5518
    
    //- iframe(
    //- src='https://docs.google.com/forms/d/e/1FAIpQLScAb7-IFNmOz1LrZUhjyj4gDrZvkuxq32CK0v8nLV5nFLiZXw/viewform?embedded=true',
    //-   width='400',
    //-   height='500',
    //-   frameborder='0',
    //-   marginheight='0',
    //-   marginwidth='0'
    //- )
    
    //- h1.title
    //-   | お問い合わせ
    //- form#requireform.form-horizontal.col-lg-offset-2.col-lg-8.col-md-offset-2.col-md-8.col-sm-offset-1.col-sm-10.col-xs-12(role='form',method='POST', action='/send/')
    //-   .form-group
    //-     label.col-xs-3.control-label(for='inputName') 名前
    //-     .col-xs-9
    //-       input#inputName.form-control(type='name', name='name', placeholder='例）三愛 太郎', required)
    //-   .form-group
    //-     label.col-xs-3.control-label(for='inputEmail') メール
    //-     .col-xs-9
    //-       input#inputEmail.form-control(type='email', name='email' placeholder='例）example@mail.com', required)
    //-   .form-group
    //-     label.col-xs-3.control-label(for='inputDetail') 問い合わせ
    //-     .col-xs-9
    //-       textarea#inputDetail.form-control(rows='3', name='detail', required)
    //-   .form-group
    //-     .col-xs-offset-3.col-xs-9
    //-       button#submitbutton.btn.btn-primary.btn-lg(type='submit', disabled) 送信
    
    #result
