mixin footer
  footer
    .container
      .row
        .col-md-6
          h2.title Notice
          p
            | 当社ウェブサイト及び当社ウェブサイト上に掲載される個々の文章・図形・デザイン、商標・ロゴマーク等に関する著作権その他の権利は、当社または原著作者その他の権利者が有します。
        .col-md-6
          h2.title Link Policy
          p
            | 当社Webサイトへのリンクは、原則フリーといたしますので、リンクの可否についてご連絡頂く必要はありません。但し、リンクされている第三者サイトについてサンアイ精機はリンクされているサイトおよびリンクしたサイトに対する内容について一切の責任を負いません
      p.copyright
        small Copyright © 株式会社サンアイ精機 All right Reserved
