mixin navigation
  nav#navigation.navbar.navbar-default.navbar-fixed-top.effect
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          span.icon-mark
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='presetter.html') 電極プリセッター
          li
            a(href='crosstable.html') クロステーブルssssS
          li
            a(href='/', data-toggle='dropdown', role='button', aria-expanded='false')
              | マグネットチャック
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='#') 永久磁石式
              li
                a(href='#') 超硬用
              li
                a(href='#') 切削加工用
              li
                a(href='#') クロスマグネットチャック
          li
            a(href='holder.html') 電極ホルダー
          li
            a(href='rolling_holder.html') 電極回転装置
          li
            a(href='/', data-toggle='dropdown', role='button', aria-expanded='false')
              | 会社情報
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='index.html#company') 製品情報
              li
                a(href='index.html#president') 社長あいさつ
              li
                a(href='index.html#access') アクセス
              li
                a(href='index.html#contact') お問い合わせ
        form.navbar-form.navbar-right(role='search')
          select.form-control
            option 日本語
            option English
            option 简体中文
      // /.nav-collapse
