mixin navigation
  nav#navigation.navbar.navbar-default.navbar-fixed-top.effect
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          span.icon-mark
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
              | 製品情報 
              span.caret
            ul.dropdown-menu(role='menu')
              li
                a(href='presetter.html') 電極プリセッター
              li
                a(href='crosstable.html') クロステーブル
              li
                a(href='magnetick_chuck.html') マグネットチャック
              li
                a(href='hard_magnetick_chuck.html') 超硬用マグネットチャック
              li
                a(href='holder.html') 電極ホルダー
              li
                a(href='rolling_holder.html') 電極回転装置
          li
            a(href='index.html#company') 企業情報
          li
            a(href='index.html#president') 社長あいさつ
          li
            a(href='index.html#access') アクセス
          li
            a(href='index.html#contact') お問い合わせ
          // <li><a href="#recruit">採用情報</a></li>
        form.navbar-form.navbar-right(role='search')
          select.form-control
            option 日本語
            option English
            option 简体中文
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#')
              span.icon-facebook-square
          li
            a(href='#')
              span.icon-twitter-square
          li
            a(href='#')
              span.icon-linkedin-square
      // /.nav-collapse
