mixin navigation
  nav#navigation.navbar.navbar-default.navbar-fixed-top.effect
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          | Menu
        a.navbar-brand(href='/index.html')
          span.icon-newlogo_icon &nbsp;トップへ
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href='magnetic_chuck.html') マグネットチャック
          li
            a(href='electrode_holder.html') 電極ホルダー
          li
            a(href='presetter.html') 電極プリセッター
          li
            a(href='rolling_holder.html') 電極回転装置
          li
            a(href='crosstable.html') クロステーブル
          //- li
          //-   a(href='other.html') その他製品
          li
            a(href='aboutus.html') 会社情報
        //- form.navbar-form.navbar-right(role='search')
        //-   select.form-control
        //-     option 日本語
        //-     option English
        //-     option 简体中文
        ul.nav.navbar-nav.sns-nav.navbar-right
          li
            a(href='#') <span class="icon-twitter-square"></span>
          li
            a(href='#') <span class="icon-facebook-square"></span>
          li
            a(href='#') <span class="icon-linkedin-square"></span>
          li
            a(href='#') <span class="icon-youtube-play"></span>
      // /.nav-collapse
