mixin youtube(vid, starton, end, width, height)
 .youtube-container
  iframe.youtube(allowfullscreen, src="https://youtube.com/embed/"+vid+"?controls=2&color=white&rel=0&start="+starton+"&end="+end, style="width:"+width+";height:"+height+";/*background-image:url(https://i.ytimg.com/vi/"+vid+"/hqdefault.jpg);*/")